<div class="container mt-5 w-85">
    <h2>Brand - brand kami</h2>
    <p class="fs-4 text-body-tertiary">Bersiap untuk merasakan kebahagiaan dengan berbagai jenis makanan</p>
    <div class="d-flex justify-content-evenly mb-3">
        <div class="card" style="width: 15rem;">
            <img src="/image/bakso.jpg" class="card-img-top" alt="bakso">
            <div class="card-body">
              <h5 class="card-title">Bakso Pak Choso</h5>
              <p class="card-text">Bakso sederhana dengan bumbu autentik</p>
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="/image/sandwich.jpg" class="card-img-top" alt="sandwich">
            <div class="card-body">
              <h5 class="card-title">Gen Sandwich</h5>
              <p class="card-text">Sandwich sederhana seperti buatan keluarga</p>
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="/image/sushi.jpg" class="card-img-top" alt="sushi">
            <div class="card-body">
              <h5 class="card-title">Sushi-Chan</h5>
              <p class="card-text">Sushi sederhana seperti dibuat oleh orang jepang sendiri </p>
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
    <div class="d-flex justify-content-evenly mb-3">
        <div class="card" style="width: 15rem;">
            <img src="/image/salad.jpg" class="card-img-top" alt="bakso">
            <div class="card-body">
              <h5 class="card-title">Healthy Food</h5>
              <p class="card-text">Fresh salad yang membuat anda semain sehat dan bugar</p>
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="/image/Pizza.jpg" class="card-img-top" alt="sandwich">
            <div class="card-body">
              <h5 class="card-title">Pizza-licious</h5>
              <p class="card-text">Pizza selalu pas untuk dimakan bersama</p>
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img src="/image/kopi.jpg" class="card-img-top" alt="sushi">
            <div class="card-body">
              <h5 class="card-title">Kopi Yu</h5>
              <p class="card-text">Kopi authentic yang dibuat oleh barista terbaik</p>
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
    </div>
</div>